/* Hide scrollbar */
.journal-scrollbar::-webkit-scrollbar {
  display: none;
}

.journal-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.custom-dashed-line-memory {
  width: 0.1rem;
  background-image: linear-gradient(
    to bottom,
    rgb(191, 191, 191) 45%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: left;
  background-size: 3px 20px;
  background-repeat: repeat-y;
}
