.notepad {
  width: 100%;
  max-width: 800px;
  margin: auto;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.notepad-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #f9f9f9;
  border-bottom: 1px solid #eee;
}

.nav-button,
.share-button,
.page-button {
  padding: 5px 10px;
  margin: 0 5px;
  background: #e1e1e1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.title-input {
  flex-grow: 1;
  margin: 0 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.page-selector span {
  margin-right: 10px;
}

.menu-container {
  position: relative; /* Ensures the menu dropdown is positioned relative to this container */
}

/* //-------------------------------notepad---------------------------- */

.ql-container {
  border: none !important; /* Removes the border */
}

.ql-toolbar {
  display: none;
}

.ql-editor {
  /* Base line height for normal text */
  --line-height: 34px;

  background-image: linear-gradient(
    to bottom,
    transparent calc(var(--line-height) - 1px),
    #f6f3f3 calc(var(--line-height) - 1px),
    #dad8d8 var(--line-height)
  );
  background-size: 100% var(--line-height);
  background-repeat: repeat-y;
  font-family: "Gluten", cursive;
  /* Default styling */
  padding: 0 !important; /* Ensure padding is overridden */
  min-height: 140px; /* Ensure the editor is at least a certain height */
  font-size: 20px;
}

/* Example of increasing line-height for headers inside the editor */
.ql-editor h1 {
  font-size: 24px;
  line-height: 48px;
}

.ql-editor h2 {
  font-size: 20px;
  line-height: 40px;
}

.ql-editor h3 {
  font-size: 18px;
  line-height: 36px;
}

/* Hide scrollbar */
.journal-scrollbar::-webkit-scrollbar {
  display: none;
}

.journal-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
